[submodule "content"]
	path = lib/code_my_spec_web/code_my_spec_content
	url = https://github.com/johns10/code_my_spec_content.git
[submodule "docs"]
	path = docs
	url = https://github.com/johns10/code_my_spec_docs.git
